{
    "source": {
        "directories": [
            "app"
        ],
        "excludes": [
            "Config",
            "Database",
            "Helpers",
            "Language",
            "Libraries",
            "Models",
            "ThirdParty",
            "Views",
            "Controllers/BaseController.php"
        ]
    },
    "logs": {
        "text": "infection.log",
        "stryker": {
            "badge": "master"
        }
    },
    "mutators": {
        "@default": true
    }
}